$bg-color: #36384D;
$primary-color: #242742;
$card-bg-color: #FFFFFF;
$error-color: #FF6155;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin reset {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin primary-btn {
    cursor: pointer;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    background-color: $primary-color;
    color: #FFFFFF;
    height: 56px;
    font-weight: 700;
    line-height: 1.5;
    transition: background-color 0.3s ease;

}

@mixin hover-btn {
    background: linear-gradient(188deg, #FF6A3A 0%, #FF527B 100%);
    box-shadow: 0 16px 32px rgba($color: #FF6155, $alpha: 0.5);

}

@mixin error-box {
    border-color: $error-color !important;
    background-color: rgba($color: $error-color, $alpha: 0.15);

}

* {
    @include reset();
}

body {
    @include flex-center();
    width: 100%;
    height: 100svh;
    background-color: $bg-color;
    font-family: 'Roboto', sans-serif;

    .card {
        background-color: $card-bg-color;
        padding: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 36px;
        box-shadow: 0 15px 60px rgba($color: #000000, $alpha: 0.25);

        @media (max-width:500px) {
            flex-direction: column-reverse;
            width: 100%;
            height: 800px;
            padding: 0px;
            border-radius: 0px;
        }

        .card-text {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-left: 40px;
            width: 45%;

            @media (max-width:500px) {
                width: 100%;
                height: auto;
                padding: 40px 24px;
                margin-left: 0px;
            }

            .card-info {
                display: flex;
                flex-direction: column;
                gap: 24px;

                h1 {
                    font-size: 3.5rem;
                    font-weight: 700;
                    color: $primary-color;
                }

                .card-testimonials {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    div {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                    }
                }

            }

            .card-form {
                form {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    div {
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        .label-container {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;

                            label {

                                font-size: 0.75rem;
                                font-weight: 700;
                                line-height: 1.5;
                                color: #242742;
                            }

                            span {
                                font-size: 0.75rem;
                                font-weight: 700;
                                line-height: 1.5;
                                color: #FF6155;
                            }
                        }

                        input {
                            border: 1px solid rgba($color: #19182B, $alpha: 0.25);
                            border-radius: 8px;
                            padding: 16px 24px;
                            outline: none;

                        }

                        input::placeholder {
                            color: $primary-color;
                        }


                    }

                    button {
                        @include primary-btn();
                    }

                    button:hover {
                        @include hover-btn();
                        border: none;
                    }



                }
            }
        }

        .card-image {
            width: 400px;
            height: 593px;
            background-image: url(../assets/images/illustration-sign-up-desktop.svg);

            @media (max-width:500px) {

                height: 34%;
                width: 100%;


                background-image: url(../assets/images/illustration-sign-up-mobile.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 0px 0px 15px 15px;
            }

        }
    }

    .success-container {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $primary-color;
        @include flex-center();
        width: 100%;
        height: 100vh;

        @media (max-width:500px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            overflow: hidden;

        }

        .success-card {
            background-color: #FFFFFF;
            border-radius: 36px;
            width: 504px;
            padding: 48px 64px 64px 64px;
            display: flex;
            flex-direction: column;
            gap: 40px;

            @media (max-width:500px) {
                height: 100%;
                border-radius: 0;
                padding: 40px 24px;
                justify-content: flex-end;
            }

            img {
                width: fit-content;




            }

            h2 {
                font-size: 3.5rem;
                font-weight: 700;
                color: $primary-color;
            }

            p {
                margin-top: -16px;

                span {
                    color: $primary-color;
                    font-weight: 700;
                }

                @media (max-width:500px) {
                    margin-bottom: 100px;
                }

            }

            button {
                @include primary-btn();

                @media (max-width:500px) {}
            }

            button:hover {
                @include hover-btn();
                border: none;
            }

        }
    }
}

.error {
    @include error-box();
}

.error::placeholder {
    color: $error-color !important;
}